<div class="main">
    <div class="main-wrapper">
  
        <div class="tab-examen">
                <!-- <app-dashboard-prof-normal-examens></app-dashboard-prof-normal-examens>  -->
                <!-- <app-dashboard-exam-not-assign></app-dashboard-exam-not-assign> -->
                <app-dashboard-prof-examen-termine></app-dashboard-prof-examen-termine>
        </div>          

        <div class="main-eleves">
            <app-dashboard-prof-note-eleve-exam></app-dashboard-prof-note-eleve-exam>
            <!-- <router-outlet></router-outlet> -->
        </div>
       
    </div>
          
</div>