.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.main-wrapper{
    width: 90%;
    height: 100%;
}
.main-home{
    width: 100%;
    height: 85%;
    background: var(--primary-color);
    border-radius: 25px;
    overflow-y: auto !important;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .main-wrapper {
        width: 100%;
    }
    .main-home {
        height: 80%;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 20px;
    }
    .main-wrapper {
        padding: 10px;
    }
    .main-home {
        height: 75%;
        border-radius: 10px;
    }
}