.main{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.calendar-wrapper{
    width: 100%;
    padding: 20px;
}
.calendar-zoon {
    width: 100%;
    height: 550px;
    max-height:600px ;
    padding: 20px;
    background: var(--background-color);
    border-radius: 20px;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info > h3{
    font-size: 14px;
    text-align: left;
    text-align: left;
    margin: 0 20px;
}
.info > h3 > span{
    color: var(--text-color);
    font-weight: 300;
}

#fc-dom-1{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
}
.fc-theme-standard td{
    border: 1px solid var(--color-primary);
    border-right: none;
    font-size: 14px;
}
.fc-theme-standard th{
    border-right: none;
    padding: 5px 0;
    border: 1px solid var(--color-primary);
    font-size: 14px;
}
#calendar{
    padding: 0 10px;
    height: 100%;
}
.fc-theme-standard .fc-scrollgrid{
    border-radius: 15px;
    border: none;
}
.calendar-header{
    width: 100%;
    padding: 20px;
    background: var(--background-color);
    border-radius: 20px;
    margin-bottom: 10px;
}
.calendar-header > h1{
    font-size: 20px;
    padding: 10px;
    color: var(--color-primary);
    font-weight: 800;
}