<div class="main">
    <div class="menu"><app-dashboard-eleve-menu></app-dashboard-eleve-menu></div>
    <div class="main-wrapper">
        <app-dashboard-eleve-header></app-dashboard-eleve-header>
        <div class="main-home">
            <div class="menu-res">
                <app-dash-eleve-menu-responsive></app-dash-eleve-menu-responsive>
            </div>
            <!-- <app-dashboard-eleve-notes></app-dashboard-eleve-notes> -->
            <!-- <app-dashboard-eleve-calendar-exam></app-dashboard-eleve-calendar-exam> -->
            <!-- <app-dashboard-eleve-statistics></app-dashboard-eleve-statistics> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>