<div class="main">
    <div class="main-wrapper">

        <div class="main-top">
            <div class="add-examen">
                <app-dashboard-prof-insert-eleves-to-examen></app-dashboard-prof-insert-eleves-to-examen>
            </div>
    
            <div class="tab-examen">
                <!-- <app-dashboard-prof-examens-notes></app-dashboard-prof-examens-notes> -->
                <!-- <app-dashboard-prof-normal-examens></app-dashboard-prof-normal-examens>  -->
                <router-outlet></router-outlet>
            </div>          
        </div>

        <div class="main-center-general">
            <div class="main-center">
            </div>
            <div class="main-center2">
                <app-dashboard-prof-eleves></app-dashboard-prof-eleves>
            </div>
        </div>
       
    </div>
          
</div>