<header>
    <div class="logo">
      <!-- <img src="../../../assets/images/black.png" alt=""> -->
    </div>
  
    <div class="search">
      <input type="text" id="srch" placeholder="search">
      <label for="srch"><i class="pi pi-search-minus"></i></label>
    </div>
  
    <div class="controles">
      <a (click)="toggleFullscreen()">
        <i class="pi pi-window-maximize"></i>
      </a>
      <a routerLink="chat-ia"><i class="pi pi-reddit"></i></a>
      <a href="#"><i class="pi pi-bell"></i></a>
      <app-mode-home id="moon"></app-mode-home>
    </div>
  
    <div class="user-info">
        <div class="profile-img">
    
            <img alt="">
        </div>
        <h1>
            <p *ngIf="username">{{ username }}</p>
            <br>
            <div>
                <span *ngIf="role">{{ role }}</span> 
                <a (click)="logout(true)">
                    <i class="pi pi-sign-out"></i>
                 </a>
                </div>
        </h1>
    </div>
  </header>
  
