<footer class="footer-section" id="contact">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find Us</h4>
                          <span>123 Education Lane, Rabat, Morocco</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call Us</h4>
                          <span>+212 628 532 671</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Email Us</h4>
                          <span>contact.co-school.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="index.html"><img src="../../../assets/images/white.png" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>At Co-School, we believe in the power of education to transform lives. Our mission is to provide a nurturing and innovative environment for all learners.</p>
                      </div>
                      <div class="footer-social-icon">
                          <span>Follow Us</span>
                          <a href="#"><i class="pi pi-github"></i></a>
                          <a href="#"><i class="pi pi-linkedin"></i></a>
                          <a href="#"><i class="pi pi-instagram"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Quick Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Courses</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">Our Team</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Support</a></li>
                          <li><a href="#">Careers</a></li>
                          <li><a href="#">FAQs</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Subscribe</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p>Stay updated with our latest news and resources. Subscribe to our newsletter.</p>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                              <input type="text" placeholder="Email Address">
                              <button><img src="../../../assets/icons/send.png" alt=""></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2024, All Rights Reserved <a href="https://co-school.com/">Co-School</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Terms</a></li>
                          <li><a href="#">Privacy</a></li>
                          <li><a href="#">Policy</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
