<div class="responsive-container-block bigContainer" id="about">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">
      <p class="text-blk heading">
        ABOUT <br> CO-SCHOOL
      </p>
      <p class="text-blk subHeading">
        At Co-School, we are dedicated to providing a dynamic and engaging learning environment for students, parents, and educators alike. Our platform seamlessly integrates educational resources, personalized learning paths, and collaborative tools to foster academic excellence. We believe in empowering every student to reach their full potential through innovative teaching methods and a supportive community. Join us in shaping the future of education, one student at a time.      </p>
    </div>
    <div class="responsive-container-block rightSide">
      <img class="number1img" src="https://img.freepik.com/free-photo/high-angle-floating-books-connected-by-ladders-education-day_23-2149241040.jpg?t=st=1724441577~exp=1724445177~hmac=12e709c47614e1177d1536d299c98329e8578793c024d9a8b44f64f7fec62f2f&w=360">
      <img class="number2img" src="../../../assets/images/slider-03.jpg">
      <img class="number3img" src="https://img.freepik.com/free-photo/front-view-stacked-books-diploma-earth-globe-with-copy-space-education-day_23-2149241048.jpg?t=st=1724441614~exp=1724445214~hmac=9dcc006a84dbfbc026f0ac210ad153e18ea557e90e995d2ffec1115012c726a0&w=360">
      <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
      <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">
      </iframe>
      
      <img class="number7img" src="https://img.freepik.com/premium-photo/man-holding-file-yellow-background-with-glasses_1177187-44275.jpg?w=360">
      <img class="number6img" src="https://img.freepik.com/free-photo/ladders-leaning-stack-colorful-books_23-2148207586.jpg?t=st=1724441229~exp=1724444829~hmac=864bcb109b6d16e075079498765e2560c1c90a19a86359a97bf64b88af398d37&w=740">
    </div>
  </div>
</div>
