<h1>Les Exames Pas Coriger ou En coure</h1>
<div class="cont">
    <table mat-table [dataSource]="ListExamensWithoutNotes" class="mat-elevation-z8">
                
        <ng-container matColumnDef="id">
            <th mat-header-cell id="th" *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let examen"> {{ examen.id }} </td>
          </ng-container>
                
        <ng-container matColumnDef="matter">
          <th mat-header-cell id="th" *matHeaderCellDef> Matière </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.matter }} </td>
        </ng-container>
        
      
        <ng-container matColumnDef="examen_name">
          <th mat-header-cell id="th" *matHeaderCellDef>Nom de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.examen_name }} </td>
        </ng-container>
        
       <ng-container matColumnDef="examen_date">
          <th mat-header-cell id="th" *matHeaderCellDef> Date de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.examen_date }} </td>
        </ng-container>

        <ng-container matColumnDef="semester">
          <th mat-header-cell id="th" *matHeaderCellDef> Semester de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.semester }} </td>
        </ng-container>
        
        <ng-container matColumnDef="Delete">
            <th mat-header-cell id="th" *matHeaderCellDef><i class="pi pi-delete-left"></i></th>
            <td mat-cell *matCellDef="let examen"> 
                <button><i class="pi pi-times"></i></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Update">
            <th mat-header-cell id="th" *matHeaderCellDef> <i class="pi pi-file-edit"></i></th>
            <td mat-cell *matCellDef="let examen"> 
                <a [routerLink]="['/prof-dashboard/dash-examens/correction/', examen.id]"><i class="pi pi-sync"></i></a>
            </td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>


<!-- <div class="card flex justify-content-center">
  <p-button (onClick)="showDialog()" label="Show" />
  <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <span class="p-text-secondary block mb-5">Update your information.</span>
      <div class="flex align-items-center gap-3 mb-3">
          <label for="username" class="font-semibold w-6rem">Username</label>
          <input pInputText id="username" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex align-items-center gap-3 mb-5">
          <label for="email" class="font-semibold w-6rem">Email</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex justify-content-end gap-2">
          <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
          <p-button label="Save" (onClick)="visible = false" />
      </div>
  </p-dialog>
</div> -->