<!-- <div class="main">
  <div class="main-wrapper">
    <div class="main-left">
        <img src="../../assets/images/girl.jpg" alt="image" >
    </div>
    <div class="main-right">

      <div class="logo">
        <img src="../../assets/images/black_logo.png" alt="">
      </div>

      <div class="content">
        <h2>Let the journey begin !</h2>
        <p>Unlock a world of education with a single click! Please login into your account.</p>
      </div>




    </div>
  </div>
</div> -->


<div class="main">
  <div class="main-wrapper">
    <div class="content">
      <h1><i>Let</i> the <span>journey</span> <br>begin <i> !</i></h1>
      <p>Unlock a world of education with a single click!
        <br> Please login into your account.</p>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="group">
        <label for="username">username</label><br>
        <div class="icon-input">
            <input id="username" formControlName="username" type="text" placeholder="@enna.com" aria-label="Username"/>
            <img src="../../assets/icons/email.png" alt="email icon">
        </div>
      </div>
      <div class="group">
        <label for="password">password</label><br>
        <div class="icon-input">
            <input id="password" formControlName="password" type="password" placeholder="*******" aria-label="Password"/>
            <img src="../../assets/icons/padlock.png" alt="padlock icon">
        </div>
      </div>
      <a>Forgot password ?</a><br>
      <button type="submit" [disabled]="formLogin.invalid || isLoading">Login</button>
      <div *ngIf="isLoading">Loading...</div>
    </form>
  </div>
</div>
