<div class="main" id="login">
  <div class="main-wrapper">
    <div class="scroll">
      <iframe src="https://lottie.host/embed/d186f2cf-3e46-4f8c-b00c-0d821713c856/mKsxWvPJol.json" width="100px" height="100px"></iframe>
      <h5>SCROLL</h5>
    </div>
    <div class="content" data-aos="fade-up" data-aos-delay="300">
      <div class="logo d-none d-md-block">
        <img src="../../../assets/images/black.png" alt="">
      </div>
      <h1><span>Bienvenue</span> dans votre <br> espace privé !</h1>
      <p>Unlock a world of education with a single click!
        Please login into your account.</p>
        <button class="login1" (click)="onOpenOrClose(true)">Login</button>
    </div>
  </div>
</div>

<section class="popup" [ngStyle]="{'display': check ? 'flex' : 'none'}">
  <button (click)="onOpenOrClose(false)">Close</button>

    <div class="login-wrapper">
      <div class="main-left d-none d-md-block">
          <img src="../../assets/images/girl.jpg" alt="image" >
      </div>
      <div class="main-right">

        <div class="logo1">
          <img src="../../assets/images/black.png" alt="">
        </div>

        <div class="content1">
          <h2 id="lets">Let the journey begin !</h2>
          <!-- <p class="">Unlock a world of education with a single click! Please login into your account.</p> -->
        </div>

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="group">
        <label for="username">username</label><br>
        <div class="icon-input">
            <input id="username" formControlName="username" type="text" placeholder="@enna.com" aria-label="Username"/>
            <img src="../../assets/icons/email.png" alt="email icon">
        </div>
      </div>
      <div class="group">
        <label for="password">password</label><br>
        <div class="icon-input">
            <input id="password" formControlName="password" type="password" placeholder="*******" aria-label="Password"/>
            <img src="../../assets/icons/padlock.png" alt="padlock icon">
        </div>
      </div>
      <a>Forgot password ?</a><br>
      <button type="submit" [disabled]="formLogin.invalid || isLoading">Login</button>
      <div *ngIf="isLoading">Loading...</div>
    </form>

      </div>
    </div>
</section>


