<section id="service">
  <h1>Nos Services</h1>
  <p class="section-lead">Chez Co-School, nous offrons des services éducatifs complets conçus pour améliorer l'apprentissage et le développement.</p>
  <div class="services-grid">
    <div class="service service1" data-aos="fade-up" data-aos-delay="300">
      <h4>Apprentissage Personnalisé</h4>
      <p>Nous proposons des parcours d'apprentissage adaptés aux besoins uniques de chaque élève, les aidant à exceller dans leur parcours académique.</p>
      <a href="#" class="cta">En savoir plus <span class="ti-angle-right"></span></a>
    </div>

    <div class="service service2" data-aos="fade-up" data-aos-delay="300">
      
      <h4>Soutien aux Enseignants</h4>
      <p>Notre plateforme fournit des ressources et des outils pour autonomiser les éducateurs, favorisant un environnement de croissance continue et d'amélioration.</p>
      <a href="#" class="cta">En savoir plus <span class="ti-angle-right"></span></a>
    </div>

    <div class="service service3" data-aos="fade-up" data-aos-delay="300">
    
      <h4>Engagement des Parents</h4>
      <p>Nous encourageons la participation active des parents, garantissant une approche collaborative de l'éducation de leurs enfants.</p>
      <a href="#" class="cta">En savoir plus <span class="ti-angle-right"></span></a>
    </div>
  </div>
</section>
