<!-- <div class="main">
    <div class="menu">
        <i class="pi pi-bars"></i>
    </div>

    <ul>
        <li>
            <a 
               routerLink="/prof-dashboard" 
               (click)="setActiveLink('/prof-dashboard')" 
               [ngClass]="{
                   'active': activeLink === '/prof-dashboard', 
                   'match': isFirstLinkActive()
               }">
               <i class="pi pi-home"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/dash-gestion" 
               (click)="setActiveLink('/prof-dashboard/dash-gestion')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/dash-gestion'}">
               <i class="pi pi-pen-to-square"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/dash-examens" 
               (click)="setActiveLink('/prof-dashboard/dash-examens')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/dash-examens'}">
               <i class="pi pi-clipboard"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/info-eleves" 
               (click)="setActiveLink('/prof-dashboard/info-eleves')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/info-eleves'}">
               <i class="pi pi-users"></i>
            </a>
        </li>
    </ul>
</div> -->


<div class="main">
    <div class="menu"></div>
  
    <ul>
      <li>
        <a 
           routerLink="/prof-dashboard" 
           (click)="setActiveLink('/prof-dashboard')" 
           [ngClass]="{
             'active': isLinkActive('/prof-dashboard')
           }">
           <i class="pi pi-home"></i>
           <p [ngClass]="{'active-p': isLinkActive('/prof-dashboard')}">Home</p>
        </a>
      </li>
    <li>
        <a routerLink="/prof-dashboard/dash-gestion" (click)="setActiveLink('/prof-dashboard/dash-gestion')"
            [ngClass]="{'active': isLinkActive('/prof-dashboard/dash-gestion')}">
            <i class="pi pi-chart-pie"></i>
            <p [ngClass]="{'active-p': isLinkActive('/prof-dashboard/dash-gestion')}">Gestion</p>
        </a>
    </li>
      <li>
        <a 
           routerLink="/prof-dashboard/dash-examens" 
           (click)="setActiveLink('/prof-dashboard/dash-examens')" 
           [ngClass]="{
             'active': isLinkActive('/prof-dashboard/dash-examens')
           }">
           <i class="pi pi-clipboard"></i>
           <p [ngClass]="{'active-p': isLinkActive('/prof-dashboard/dash-examens')}">Exames</p>
        </a>
      </li>
      <li>
        <a 
           routerLink="/prof-dashboard/info-eleves" 
           (click)="setActiveLink('/prof-dashboard/info-eleves')" 
           [ngClass]="{
             'active': isLinkActive('/prof-dashboard/info-eleves')
           }">
           <i class="pi pi-calendar"></i>
           <p [ngClass]="{'active-p': isLinkActive('/prof-dashboard/info-eleves')}">eleves info</p>
        </a>
      </li>
    </ul>
  </div>
  