<div class="main">
    <div class="menu">
        <i class="pi pi-bars"></i>
    </div>

    <ul>
        <li>
            <a 
               routerLink="/prof-dashboard" 
               (click)="setActiveLink('/prof-dashboard')" 
               [ngClass]="{
                   'active': activeLink === '/prof-dashboard', 
                   'match': isFirstLinkActive()
               }">
               <i class="pi pi-home"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/statistics" 
               (click)="setActiveLink('/prof-dashboard/statistics')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/statistics'}">
               <i class="pi pi-chart-pie"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/dash-examens" 
               (click)="setActiveLink('/prof-dashboard/dash-examens')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/dash-examens'}">
               <i class="pi pi-clipboard"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/prof-dashboard/calendar" 
               (click)="setActiveLink('/prof-dashboard/calendar')" 
               [ngClass]="{'active': activeLink === '/prof-dashboard/calendar'}">
               <i class="pi pi-calendar"></i>
            </a>
        </li>
    </ul>
</div>
