<div class="container">
    <h1>Update Professeur</h1>
  
    <form [formGroup]="FormProfesseur" (ngSubmit)="updateProfesseur()">
        <div class="group">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter Username">
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" formControlName="age" class="form-control" placeholder="Enter Age">
            </div>
        </div>

        <div class="group">
            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" formControlName="gender" class="form-control">
                    <option value="" disabled>Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter Email">
            </div>
        </div>

        <div class="group">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter Password">
            </div>
        </div>

        <div class="form-group" id="btnS">
            <button type="submit" class="btn btn-primary" [disabled]="!FormProfesseur.valid">Update Professeur</button>
        </div>
    </form>
</div>
