<div class="main">
    <div class="main-wrapper">
        <div class="first-section">
            <div class="add-prof">
                <!-- <app-dash-admin-add-eleve></app-dash-admin-add-eleve> -->
                <app-dash-admin-add-class-room></app-dash-admin-add-class-room>
            </div>

            <div class="assign-prof-classe">
                <app-dash-admin-class-room-assign-class-room></app-dash-admin-class-room-assign-class-room>
            </div>
            <div class="classes">
                <app-dash-admin-get-class-rooms></app-dash-admin-get-class-rooms>
            </div>
            <div class="profs">
                <app-dash-admin-get-profs></app-dash-admin-get-profs>
            </div>
        </div>
    </div>
</div>