<div class="main">
    <div class="menu">
        
    </div>

    <ul>
        <li>
            <a 
               routerLink="/admin-dashboard" 
               (click)="setActiveLink('/admin-dashboard')" 
               [ngClass]="{
                   'active': activeLink === '/admin-dashboard', 
                   'match': isFirstLinkActive()
               }">
               <i class="pi pi-home"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/admin-dashboard/gestion-profs" 
               (click)="setActiveLink('/admin-dashboard/gestion-profs')" 
               [ngClass]="{'active': activeLink === '/admin-dashboard/gestion-profs'}">
               <i class="pi pi-chart-pie"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/admin-dashboard/result" 
               (click)="setActiveLink('/admin-dashboard/result')" 
               [ngClass]="{'active': activeLink === '/admin-dashboard/result'}">
               <i class="pi pi-clipboard"></i>
            </a>
        </li>
        <li>
            <a 
               routerLink="/admin-dashboard/calendar" 
               (click)="setActiveLink('/admin-dashboard/calendar')" 
               [ngClass]="{'active': activeLink === '/admin-dashboard/calendar'}">
               <i class="pi pi-calendar"></i>
            </a>
        </li>
    </ul>
</div>
