<div class="main">
    <div class="menu"></div>
  
    <ul>
      <li>
        <a 
           routerLink="/admin-dashboard" 
           (click)="setActiveLink('/admin-dashboard')" 
           [ngClass]="{
             'active': isLinkActive('/admin-dashboard')
           }">
           <i class="pi pi-home"></i>
           <p [ngClass]="{'active-p': isLinkActive('/admin-dashboard')}">Home</p>
        </a>
      </li>
      <li>
        <a 
           routerLink="/admin-dashboard/gestion-profs" 
           (click)="setActiveLink('/admin-dashboard/gestion-profs')" 
           [ngClass]="{
             'active': isLinkActive('/admin-dashboard/gestion-profs')
           }">
           <i class="pi pi-chart-pie"></i>
           <p [ngClass]="{'active-p': isLinkActive('/admin-dashboard/gestion-profs')}">Gestion Profs</p>
        </a>
      </li>
      <li>
        <a 
           routerLink="/admin-dashboard/classe" 
           (click)="setActiveLink('/admin-dashboard/classe')" 
           [ngClass]="{
             'active': isLinkActive('/admin-dashboard/classe')
           }">
           <i class="pi pi-objects-column"></i>
           <p [ngClass]="{'active-p': isLinkActive('/admin-dashboard/classe')}">Classe</p>
        </a>
      </li>
      <li>
        <a 
           routerLink="/admin-dashboard/absence" 
           (click)="setActiveLink('/admin-dashboard/absence')" 
           [ngClass]="{
             'active': isLinkActive('/admin-dashboard/absence')
           }">
           <i class="pi pi-calendar"></i>
           <p [ngClass]="{'active-p': isLinkActive('/admin-dashboard/absence')}">absence</p>
        </a>
      </li>

      <li>
        <a 
           routerLink="/admin-dashboard/exam" 
           (click)="setActiveLink('/admin-dashboard/exam')" 
           [ngClass]="{
             'active': isLinkActive('/admin-dashboard/exam')
           }">
           <i class="pi pi-clipboard"></i>
           <p [ngClass]="{'active-p': isLinkActive('/admin-dashboard/exam')}">Exmes</p>
        </a>
      </li>
    </ul>
  </div>
  