<h1>touts les examens</h1>
<div class="cont">
    <table mat-table [dataSource]="ListExamens" class="mat-elevation-z8">
                    
                
        <ng-container matColumnDef="examen_name">
          <th mat-header-cell id="th" *matHeaderCellDef> Matière </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.matter }} </td>
        </ng-container>
        
      
        <ng-container matColumnDef="matter">
          <th mat-header-cell id="th" *matHeaderCellDef>Nom de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.examen_name }} </td>
        </ng-container>
        
       
        <ng-container matColumnDef="semester">
          <th mat-header-cell id="th" *matHeaderCellDef> Semester de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.semester }} </td>
        </ng-container>
        
       
        <ng-container matColumnDef="examen_date">
          <th mat-header-cell id="th" *matHeaderCellDef> Date de contrôle </th>
          <td mat-cell *matCellDef="let examen"> {{ examen.examen_date }} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell id="th" *matHeaderCellDef><i class="pi pi-delete-left"></i></th>
            <td mat-cell *matCellDef="let examen"> 
                <button><i class="pi pi-times"></i></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Update">
            <th mat-header-cell id="th" *matHeaderCellDef> <i class="pi pi-file-edit"></i></th>
            <td mat-cell *matCellDef="let examen"> 
                <button><i class="pi pi-sync"></i></button>
            </td>
          </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>