<div class="main">
    <div class="menu"><app-dash-admin-menu></app-dash-admin-menu></div>
<div class="main-wrapper">
    <app-dash-admin-header></app-dash-admin-header>
    <div class="main-home">
        <div class="menu-res">
            <app-dash-admin-menu-responsive></app-dash-admin-menu-responsive>
        </div>
        <!-- <router-outlet></router-outlet> -->
        <!-- <app-dash-admin-gestion-prof-home></app-dash-admin-gestion-prof-home> -->
        <!-- <app-dash-admin-gestion-eleve-home></app-dash-admin-gestion-eleve-home> -->
        <!-- <app-dash-admin-class-room-home></app-dash-admin-class-room-home> -->
        <!-- <app-dash-admin-absence-home></app-dash-admin-absence-home> -->
        <app-dash-admin-exams-home></app-dash-admin-exams-home>
    </div>
</div>
</div>