<h1>Vous Élèves</h1>
<div class="cont">
  <table mat-table [dataSource]="ListEleves" class="mat-elevation-z8">

    <!-- Classe ID Column -->
    <!-- <ng-container matColumnDef="classeId">
      <th mat-header-cell id="th" *matHeaderCellDef> Classe ID </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.classeId }} </td>
    </ng-container> -->

    <!-- Identification ID Column -->
    <ng-container matColumnDef="identificationId">
      <th mat-header-cell id="th" *matHeaderCellDef> ID d'identification </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.identificationId }} </td>
    </ng-container>

    <!-- Class Room Name Column -->
    <ng-container matColumnDef="classRoomName">
      <th mat-header-cell id="th" *matHeaderCellDef> Nom de la Classe </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.classRoomName }} </td>
    </ng-container>

    

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell id="th" *matHeaderCellDef> Nom d'utilisateur </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.username }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell id="th" *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.email }} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell id="th" *matHeaderCellDef> Sexe </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.gender }} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell id="th" *matHeaderCellDef> Âge </th>
      <td mat-cell *matCellDef="let eleve"> {{ eleve.age }} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
