<div class="chat-container">
  <h2>CO-SHCOOL IA 🤖</h2>

  <input 
    type="text" 
    [(ngModel)]="question" 
    placeholder="Posez une question à l'IA" 
    class="question-input"
  />

  
  <button (click)="askQuestion()" class="ask-button">Envoyer</button>

  
  <div class="response-container">
    <h3>Réponse de l'IA :</h3>
    <p id="res" *ngIf="response">{{ response }}</p>

    
    <div id="charge" *ngIf="check">
      <div class="loading">
        <div class="logo">
        </div>
        <div class="anime">
            <div class="p1"></div>
            <div class="p2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
