.chat-container {
    margin: 20px;
    padding: 0px 10px 10px 10px;
    border-radius: 8px;
    max-width: 100%;
    text-align: center;
    background: var(--background-color);
  }
  .chat-container > h2{
    background: var(--primary-color);
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 8px;

  }
  .question-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .ask-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .response-container {
    margin-top: 20px;
  }
  
  .response-container h3 {
    font-size: 18px;
    color: var(color-border);
  }
  
  .response-container p {
    font-size: 16px;
    color: #555;
  }
input {
    width: 80%;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 7px;
    border: 1px solid var(--text-color);
    margin-right: 6px;
  }
 button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid var(--hover-bg);
    background: var(--background-color);
    color: var(--text-color);
    transition: .4s;
    margin-top: 10px;
}
#charge{
  display: flex;
  justify-content: center;
}
#res{
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  text-align: justify;
  background: var(--primary-color);
}
.loading{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo{
  width: 120px;
  height: 60px;
  background-image:var(--logo);
  background-size: cover;
}
.anime{
  display: flex;
}
.anime > div{
  width: 50px;
  height: 2px;
  background: var(--text-color);
  border: 2px solid var(--text-color);
}
.anime > .p1 {
  margin-bottom: 7px;
  animation: anime1 1s ease-in-out infinite;
}
.anime > .p2 {
  margin-top: 7px;
  animation: anime2 1s ease-in-out infinite;
}
@keyframes anime1 {
  0%,100%{
      transform: translateX(0px);
  }
  50%{
      transform: translateX(60px);
  }
}
@keyframes anime2 {
  0%,100%{
      transform: translateX(0px);
  }
  50%{
      transform: translateX(-60px);
  }
}
