<div class="main">
    <div class="main-wrapper">
        <div class="first-section">
            <div class="add-prof">
                <!-- <app-dash-admin-add-prof></app-dash-admin-add-prof> -->
                <app-dash-admin-add-exams-to-prof></app-dash-admin-add-exams-to-prof>
            </div>
            <div class="prof">
                <!-- <app-dash-admin-add-eleve></app-dash-admin-add-eleve> -->
                <!-- <app-dash-admin-get-profs></app-dash-admin-get-profs> -->
            </div>

        </div>
    </div>
</div>